@font-face {
    font-family: 'pixelpro_2pregular';
    src: url('pixelpro-2p-webfont.woff2') format('woff2'),
         url('pixelpro-2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    background-color: #0d001a;
    color:#6f1d5c;
    font-family: 'pixelpro_2pregular';
    font-size: 30px;
    white-space: "pre-line";
    background-image: url("images/misc/woop.gif");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
}

h1{
    font-size: 100px;
    align-self: center;
    text-align: center;
    filter: drop-shadow(5px 5px 0px #2e0a30);
}

h2{
    font-size: 50px;
    text-decoration: underline;
}

.header_box{
    max-width: 750px;
    margin-inline: auto;
    border-color: #6f1d5c;
    border-style: solid;
    border-width: 4px;
    position: relative;
    top: 20px;
}

.row {
    display: flex;
    width: 75%;
    position: relative;
    left:12.5%;
}
  
.column {
    flex: 50%;
    padding: 10px;
}

.column_border{
    flex: 50%;
    border-color: #6f1d5c;
    border-style: solid;
    border-width: 4px;
    padding: 10px;
    white-space: inherit;
}

hr{
    position: relative;
    top : 50px;
    z-index: 100;
    border: none;
    border-top: 5px solid #6f1d5c;
    width: 80%;
}

button{
    font-family: 'pixelpro_2pregular';
    border: none;
    background-color: #6f1d5c;
    color: #0d001a;
    border-radius: 5px;
    font-size: 25px;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    20% {transform: rotate(4deg);}
    25% {transform: rotate(5deg);}
    30% {transform: rotate(4deg);}
    70% {transform: rotate(-4deg);}
    75% {transform: rotate(-5deg);}
    80% {transform: rotate(-4deg);}
}

button:hover{
    font-family: 'pixelpro_2pregular';
    background-color: #6f1d5c;
    color: #0d001a;
    border-radius: 5px;
    font-size: 25px;
    animation: shake 0.5s linear;
    animation-iteration-count: infinite;
}

img{
    max-width: 500px;
}

img.trans{
    background-color: #2e0a30;
    max-width: 400px;
}

.bg_cover{
    position: fixed;
    width: 80%;
    left: 10%;
    top: 0%;
    height: 100%;
    background-color: #0d001a;
}